<h3>Estadísticas de Preguntas</h3>
<ul>
  <li>Preguntas encontradas &mdash; <b><%= estadisticas.npreg %></b></li>
  <li>Comentarios encontrados &mdash; <b><%= estadisticas.ncom %></b></li>
  <li>Media de Comentarios / Pregunta &mdash; <b><%= estadisticas.media %></b></li>
  <li>Preguntas con comentario &mdash; <b><%= estadisticas.pregcom %></b></li>
  <li>Preguntas sin comentario &mdash; <b><%= estadisticas.pregsin %></b></li>
</ul>
